@model IEnumerable<EventMarketplace.Models.Evento>
@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Eventos</h2>
<a asp-action="NovoEvento" id="NovoEvento" asp-controller="Admin" class="btn btn-success">Criar novo Evento</a>
<hr>

<script>
    $(document).ready(function () {
        $('#events').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="events" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Genero</th>
            <th>Capacidade</th>

            <th>Valor</th>
            <th>Casa de Show</th>
            <th>Data</th>

            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventos in Model)
        {
            <tr>
                <td>@eventos.Id</td>
                <td>@eventos.Nome</td>
                <td>@if (@eventos.Genero == "0")
                    {
                        <span>Pagode</span>
                    }
                    else if (@eventos.Genero == "1")
                    {
                        <span>Funk</span>
                    }
                    else if (@eventos.Genero == "2")
                    {
                        <span>Rock</span>
                    }
                    else if (@eventos.Genero == "3")
                    {
                        <span>Metal</span>
                    }
                    else if (@eventos.Genero == "4")
                    {
                        <span>Eletronica</span>
                    }
                    else if (@eventos.Genero == "5")
                    {
                        <span>Pop</span>
                    }
                    else
                    {
                        <span>Diversos</span>
                    }
                </td>
                <td>@eventos.Ingresso</td>
                <td>R$@eventos.ValorDoTicket.ToString("f2")</td>
                <td>@eventos.CasaDeShow.Nome</td>
                <td>@eventos.Data.ToShortDateString()</td>

                <td><a href="/Admin/EditarEvento/@eventos.Id" class="btn btn-primary">Editar</a>
                    <form asp-controller="Evento" asp-action="Deletar" method="POST" style="display: inline;">
                        <input type="hidden" value="@eventos.Id">
                        <button class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>