@model IEnumerable<EventMarketplace.Models.Evento>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Lista de Eventos";
}

<div class="card-header p-3" style="margin-top: 4.5rem;">
    <h5 class="mb-0"><i class="fas fa-tasks me-4"></i>Lista de Eventos</h5>
    <br>
        <div class="input-group">
            <input type="number" class="form-control" id="codEvento" placeholder="Preencha o numero do id de um evento e compre seu ingresso">
                <span class="input-group-btn">
                    <button class="btn btn-success" data-toggle="modal" data-target="#VendaModal" type="button" id="pesquisar">Comprar</button>
                </span>
    <br></div>     
</div>

<table id="eventos" class="table table-striped table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Imagem</th>
            <th>Evento</th>
            <th>Genero</th>
            <th>Valor do ingresso</th>
            <th>Casa de Show</th>
            <th>Data/Horario</th>
            <th>Qtd de Ingressos Disponiveis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventos in Model)
        {
            <tr class="text-center">
                <td>@eventos.Id</td>
                <td><img src="..\fotos\@eventos.Imagem"
                    class="shadow-1-strong rounded-circle" style="width: 150px; height: 150px;"></td>
                <td>@eventos.Nome</td>
                <td class="text-center">@if (@eventos.Genero == "0")
                    {
                        <span>Pagode</span>
                    }
                    else if (@eventos.Genero == "1")
                    {
                        <span>Funk</span>
                    }
                    else if (@eventos.Genero == "2")
                    {
                        <span>Rock</span>
                    }
                    else if (@eventos.Genero == "3")
                    {
                        <span>Metal</span>
                    }
                    else if (@eventos.Genero == "4")
                    {
                        <span>Eletronica</span>
                    }
                    else if (@eventos.Genero == "5")
                    {
                        <span>Pop</span>
                    }
                    else
                    {
                        <span>Diversos</span>
                    }</td>
                <td>R$@eventos.ValorDoTicket.ToString("f2")</td>
                <td>@eventos.CasaDeShow.Nome</td>
                <td>@eventos.Data.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@eventos.Ingresso</td>
            </tr>
        }
    </tbody>

</table>

<!-- Modal -->
<div class="modal fade" id="VendaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-header">
            <h5 class="modal-title">Confirmar compra</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <!-- Page Form-->
        <form class="form-horizontal" id="eventoForm">
            <div class="form-group">
                <label>Nome do Evento</label>
                <input required disabled type="text" id="nomeEvento" class="form-control">
            </div>
            <div class="form-group">
                <label>Casa de Show</label>
                <input required disabled type="text" id="nomeCasaDeShow" class="form-control">
            </div>
            <div class="form-group">
                <label>Data e horário do evento</label>
                <input required disabled type="datetime-local" id="dataHorario" class="form-control">
            </div>
            <div class="form-group">
                <label>Ingressos restantes</label>
                <input required disabled type="number" id="qtdIngressosDisponiveis" class="form-control">
            </div>
            <div class="form-group">
                <label>Preço unitário do ingresso</label>
                <input required disabled type="number" id="valorDoIngresso" class="form-control">
            </div>
            <div class="form-group">
                <label>Quantidade de ingressos</label>
                <input required type="number" id="qtdIngressoCompra" class="form-control">
                <br>
                <button type="submit" id="confirmaIngresso" class="btn btn-primary">Confirmar Ingressos</button>
            </div>
            <div class="form-group">
                <label>Valor total da Compra</label>
                <input required disabled type="number" id="totalVenda" class="form-control">
            </div>
            <hr>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <button type="submit" id="confirmaCompra" class="btn btn-success">Confirmar Compra</button>
        </form>
      </div>
    </div>
  </div>
</div>