@model IEnumerable<EventMarketplace.Models.Evento>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Lista de Eventos";
}

<div class="card-header p-3">
    <h5 class="mb-0"><i class="fas fa-tasks me-4"></i>Lista de Eventos</h5>
</div>

<script>
    $(document).ready(function () {
        $('#events').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="events" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Evento</th>
            <th>Genero</th>
            <th>Valor do ingresso</th>
            <th>Casa de Show</th>
            <th>Data</th>
            <th>Qtd de Ingressos Disponiveis</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventos in Model)
        {
            <tr>
                <td>@eventos.Id</td>
                <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                    class="shadow-1-strong rounded-circle" style="width: 55px; height: auto;">
                    <span class="ms-2">@eventos.Nome</span>
                </th>
                <td>@if (@eventos.Genero == "0")
                    {
                        <span>Pagode</span>
                    }
                    else if (@eventos.Genero == "1")
                    {
                        <span>Funk</span>
                    }
                    else if (@eventos.Genero == "2")
                    {
                        <span>Rock</span>
                    }
                    else if (@eventos.Genero == "3")
                    {
                        <span>Metal</span>
                    }
                    else if (@eventos.Genero == "4")
                    {
                        <span>Eletronica</span>
                    }
                    else if (@eventos.Genero == "5")
                    {
                        <span>Pop</span>
                    }
                    else
                    {
                        <span>Diversos</span>
                    }</td>
                <td>R$@eventos.ValorDoTicket.ToString("f2")</td>
                <td>@eventos.CasaDeShow.Nome</td>
                <td>@eventos.Data.ToShortDateString()</td>
                <td>@eventos.Ingresso</td>
                <td><a data-toggle="modal" data-target="#myModal" class="btn btn-success">Comprar</a></td>
            </tr>
        }
    </tbody>
</table>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Confirmar compra dos ingressos</h4>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                    class="shadow-1-strong rounded-circle" style="width: 255px; height: auto;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h2>Total: R$ <span id="totalVenda"></span> </h2>
                    <hr>
                    <p>Quantidade de ingressos:</p>
                    <input type="number" class="form-control" id="qtdIngresso">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <div id="prevenda">
                        <button type="button" class="btn btn-success" id="finalizarVendaBTN">Finalizar Compra</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>