@model IEnumerable<EventMarketplace.Models.Evento>

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Lista de Eventos";
}

<div class="card-header p-3" style="margin-top: 4.5rem;">
    <h5 class="mb-0"><i class="fas fa-tasks me-4"></i>Lista de Eventos</h5>
</div>

<script>
    $(document).ready(function () {
        $('#evenos').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ Registros por página",
                "zeroRecords": "Nada encontrado",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Ultimo",
                    "next": "Proximo",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>

<table id="eventos" class="table table-striped table-bordered">
    <thead>
        <tr class="text-center">
            <th>Id</th>
            <th>Imagem</th>
            <th>Evento</th>
            <th>Genero</th>
            <th>Valor do ingresso</th>
            <th>Casa de Show</th>
            <th>Data/Horario</th>
            <th>Qtd de Ingressos Disponiveis</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventos in Model)
        {
            <tr class="text-center">
                <td>@eventos.Id</td>
                <td><img src="..\fotos\@eventos.Imagem"
                    class="shadow-1-strong rounded-circle" style="width: 150px; height: 150px;"></td>
                <td>@eventos.Nome</td>
                <td class="text-center">@if (@eventos.Genero == "0")
                    {
                        <span>Pagode</span>
                    }
                    else if (@eventos.Genero == "1")
                    {
                        <span>Funk</span>
                    }
                    else if (@eventos.Genero == "2")
                    {
                        <span>Rock</span>
                    }
                    else if (@eventos.Genero == "3")
                    {
                        <span>Metal</span>
                    }
                    else if (@eventos.Genero == "4")
                    {
                        <span>Eletronica</span>
                    }
                    else if (@eventos.Genero == "5")
                    {
                        <span>Pop</span>
                    }
                    else
                    {
                        <span>Diversos</span>
                    }</td>
                <td>R$@eventos.ValorDoTicket.ToString("f2")</td>
                <td>@eventos.CasaDeShow.Nome</td>
                <td>@eventos.Data.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@eventos.Ingresso</td>
                <td><a href="/home/novavenda/@eventos.Id" class="btn btn-primary">Comprar</a></td>
                
            </tr>
        }
    </tbody>
</table>